/* --------------------------- Reset -------------------------------------- */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default padding */
ul,
ol {
  padding: 0;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
ul,
ol,
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  scroll-behavior: smooth;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* Remove list styles on ul, ol elements with a class attribute */
ul,
ol {
  list-style: none;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img {
  max-width: 100%;
  display: block;
}

/* Natural flow and rhythm in articles by default */
article > * + * {
  margin-top: 1em;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

[role='button'],
input[type='submit'],
input[type='reset'],
input[type='button'],
button {
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
}

/* Reset `button` and button-style `input` default styles */
input[type='submit'],
input[type='reset'],
input[type='button'],
button {
  background: none;
  border: 0;
  color: inherit;
  /* cursor: default; */
  font: inherit;
  line-height: normal;
  overflow: visible;
  padding: 0;
  -webkit-appearance: button; /* for input */
  -webkit-user-select: none; /* for button */
  -moz-user-select: none;
  -ms-user-select: none;
}
input::-moz-focus-inner,
button::-moz-focus-inner {
  border: 0;
  padding: 0;
}

/* Make `a` like a button */
[role='button'] {
  color: inherit;
  cursor: default;
  display: inline-block;
  text-align: center;
  text-decoration: none;
  white-space: pre;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
}

/* Remove all animations and transitions for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  * {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

/* --------------------------- End Reset ------------------------------------ */

/* --------------------------- Fonts ----------------------------------- */

@font-face {
  font-family: 'AcousticaSouth';
  src: local('Acoustica South'), local('AcousticaSouth'), local('Acoustica-South'),
    url('./fonts/acoustica_south.woff2') format('woff2'),
    url('./fonts/acoustica_south.woff') format('woff');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

/* --------------------------- End Fonts ------------------------------------ */

body {
  font-family: 'Open Sans', sans-serif;
  overflow-x: hidden;
}

.menu-is-open body {
  overflow-y: hidden;
}

h1 {
  font-family: 'Raleway', sans-serif;
}

h2 {
  font-family: 'AcousticaSouth', Helvetica, Arial, sans-serif;
  font-size: 4rem;
}

footer {
  height: 60vh;
}

/* --------------------------- Header ----------------------------------- */

.header,
.menu {
  align-items: center;
  display: flex;
}

.header {
  justify-content: space-between;
}

.menu-item {
  padding: 0 1rem;
}

.menu-link:hover {
  color: red;
}

.menu-trigger {
  padding: 0.5rem;
  position: relative;
  z-index: 10;
}

.menu-trigger svg {
  height: 2rem;
  width: 2rem;
}

.menu-close {
  display: none;
}

.menu-is-open .menu-open {
  display: none;
}

.menu-is-open .menu-close {
  display: block;
}

.logo {
  position: relative;
  z-index: 10;
}

/* --------------------------- End Header ------------------------------- */

/* --------------------------- Accordion ------------------------------- */

.accordion-info {
  display: none;
}

.accordion-question {
  border: 1px solid lightgray;
  cursor: pointer;
  display: block;
  padding: 1rem 0.5rem;
  width: 100%;
}

/* --------------------------- End Accordion ------------------------------- */

li:last-child {
  color: green;
}

.popup {
  background: white;
  border: 4px solid black;
  padding: 4rem;
  position: absolute;
  top: 5rem;
  left: 120%;
  max-width: 60rem;
  transition: all 0.8s ease-in-out;
}

.popup.open {
  left: 50%;
  transform: translateX(-50%);
}

/* 640px - 1px */
@media (max-width: 39.9375em) {
  .nav {
    align-items: center;
    background: lightpink;
    display: flex;
    height: 100vh;
    justify-content: center;
    left: 0;
    position: fixed;
    top: -150%;
    transition: all 0.3s ease-in-out;
    width: 100%;
    z-index: 9;
  }

  .menu-is-open .nav {
    top: 0;
  }
}

@media (min-width: 40em) {
  .menu-trigger {
    display: none;
  }

  .menu-link {
    color: limegreen;
  }
}
